@import 'shared/_colors.scss';

.CreateTab {
    &__inputs-wrapper{
        padding-bottom: 50px;
    }

    &__button-wrapper {
        position: fixed;
        bottom: 6px;
        left: 9%;
        width: 70%;
        padding: 10px 40px;
        background-color: rgba(#fff, .85);
    }
}