@import 'shared/_colors.scss';
@import 'shared/_variables.scss';

.Navigation {
    position: fixed;
    z-index: 100;
    background-color: $color-primary;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;

    &__title {
        margin-left: auto;
        margin-right: 2rem;
        color: #fff;
        font-weight: normal;
    }

    & li {
        display: inline;
        margin: 2rem;
    }

    & a {
        height: 40px;
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 5px;

        color: #fff;

        text-decoration: none;

        transition: all 0.3s;

        &:hover {
            background-color: #fff;
            color: $color-primary;
        }
    }

    & .active {
        color: $color-primary;
        background: #fff;
    }
}
