@import 'shared/_colors.scss';
@import 'shared/_variables.scss';

.Navigation {
    position: fixed;
    background-color: $color-primary;
    height: $navbar-height;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: $navbar-width;
    border-radius: 5px;

    & li {
        display: inline;
        margin: 2rem;
    }

    & a {
        height: 40px;
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 5px;

        color: #fff;
        
        text-decoration: none;

        transition: all .3s;

        &:hover {
            background-color: #fff;
            color: $color-primary;
        }
    }

    & .active {
        color: $color-primary;
        background: #fff;
    }
}