$color-primary: #0089ba;
$color-secondary: #d5cabd;
$color-warning: rgba(#d9534f, 0.8);
$color-warning-hover: #de716e;
$color-success: #95d095;
$color-success-hover: #5cb85c;

$color-box-background: rgba($color-secondary, 0.1);
