@import 'shared/_variables.scss';
@import 'shared/_colors.scss';

.Layout {
    position: relative;
    min-width: 80vw;
    padding: 0 20px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid hsl(0, 0%, 80%);
    box-shadow: 2px 0 5px rgba(#000, .3), -2px 0 5px rgba(#000, .3);
    overflow-y: auto;

    &__main {
        padding-top: 60px;
        height: calc(100vh - $navbar-height);
    }
}
