@import 'shared/_variables.scss';
@import 'shared/_colors.scss';

.Layout {
    position: relative;
    width: 100vw;
    overflow: hidden;

    &__main {
        position: relative;
        margin-top: 60px;
        padding-left: 50px;
        height: 82vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
