@import 'shared/_variables.scss';

.Layout {
    width: 100vw;
    height: 100vh;
    padding-left: 2vw;

    &__main {
        padding-top: 60px;
        height: calc(100vh - $navbar-height);
    }
}

.HeaderBackground {
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: #fff;
}